$light-blue-color: rgb(88 112 185);
$black-color: #000000;
$white-color: #ffffff;
$scrollbar-box-shadow: rgba($black-color, 0.3);
$scroll-bar: #bdbdbd;
$border-divider: #bac7ce;
$login-popup-background: #d9e1f2;
$color-primary: #337ab7;
$color-danger: #d70029;
$color-primary-shadow: rgba($color-primary, 0.3);
$aeap-percent-bar-bg-color: #e5eaec;
$aeap-color-primary: #0387b0;
$aeap-color-greyish-blue: #bac7ce;
$aeap-color-grey-1: #757575;
$aeap-color-light-bluish-grey: #ccd5d9;
$aeap-footer: #718093;
$logo-color: #0097e6;
$font-color-greyish-blue: #040914;
$light-btn: #f5f6fa;
$dark-btn: #323649;
$border: #dcdde1;
$toolbar-background: #1c3352;
$passwordValid: #7cfc00;
$cancel-text: #353b48;
$green-btn: #44BD32;
$active-tab: #F15928;
$graph-background: #fefefe;
$title-color: #797979;
$phantom-color: #1a0dab;
$btn-custom-background: #4e44ce;
$explore-btn-background-color: #192a56;
$label-color: #7f8fa6;
$sidebar-link-color: #9999bd;
$sidebar-list-item-active-color: #e84118;
$msform-border: #44bd32;
$msform-action-button-previous-background: #c5c5f1;
$fs-title-color: #2c3e50;
$fs-subtitle-color: #666;
$progressbar-background: #eeeeee;
$card-background-color: #fbfbfb;
$explore-btn-bg: #02A9FF;